:root {
  --white-color: #fff5f5;
  --red-color: #f95454;
  --pink-color: #ffcac8;
  --black-color: #21251f;

  --subtitle-fonts: 'Neucha', cursive;
  --text-fonts: 'Open Sans', sans-serif;
  --title-fonts: 'Shantell Sans', cursive;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background-color: var(--light-color);
}

h1 {
  font-family: var(--title-fonts);
  line-height: 1.2;
  margin: 0;
  font-size: 2.1rem;
  font-weight: 800;
  color: var(--red-color);
}
h2 {
  font-family: var(--subtitle-fonts);
  line-height: 1.2;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
p {
  font-family: var(--text-fonts);
  line-height: 1.6;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black-color);
}
a {
  text-decoration: none;
  color: var(--black-color);
  font-family: var(--subtitle-fonts);
  line-height: 1.6;
  margin: 0;
  font-size: 1rem;
}
section {
  padding: 2rem 0;
}

.container {
  width: 320px;
  padding: 0 0.5rem;
  margin: 0 auto;
}

/*============================| HEADER |===========================*/

header {
  position: fixed;
  top: 0;
  width: 100dvw;
  z-index: 10;
  height: 3rem;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
header .container {
  padding: 0;
}
nav {
  background-color: var(--white-color);
  margin: 0 auto;
  mix-blend-mode: difference;
}
nav ul {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-family: var(--subtitle-fonts);
  line-height: 1;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0.2rem;
  background-color: transparent;
  border-radius: 25px;
}

li:hover {
  filter: blur(5px);
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
}
li:hover a {
  color: var(--red-color);
}

/*============================|hero|===========================*/

#hero {
  position: relative;
  z-index: 20;
  height: 100dvh;
  padding: 0;
  background-image: url(../src/img/baloons.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-blank {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  filter: blur(5px);
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
}
.hero-title h2 {
  color: var(--red-color);
}
.hero-description {
  width: 80%;
  margin-bottom: 2rem;
  text-align: center;
  min-width: 300px;
}
.hero-description p {
  font-weight: 600;
}
.hero-button {
  font-family: var(--subtitle-fonts);
  line-height: 1.6;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black-color);
  background-color: var(--pink-color);
  border: 1px solid var(--black-color);
  padding: 0.5rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero-button:hover {
  background-color: var(--red-color);
  color: var(--white-color);
  border: 1px solid var(--white-color);
  filter: blur(5px);
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
}

/*============================|About|===========================*/

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  gap: 1rem;
  width: 50%;
  min-width: 300px;
  margin: 2rem auto;
}
.about-title img {
  width: 120%;
  min-width: 300px;
  border-radius: 25px;
}
.about-benefits {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 2rem auto;
}
.about-benefits ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}
.about-benefits ul li {
  position: relative;
  min-width: 300px;
  flex-basis: calc((100% - 2rem) / 5);
  background-color: var(--pink-color);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  padding: 0.2rem 0.5rem;
  transition: all 0.3s ease-in-out;
}

.about-benefits ul li:hover {
  filter: blur(5px);
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
}
.about-description-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.about-img {
  position: relative;
  flex-basis: calc((100% - 2rem) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 300px;
}
.about-img img {
  width: 500px;
  min-width: 300px;
  height: auto;
  border-radius: 25px;
  overflow: hidden;
}
.about-description {
  flex-basis: calc((100% - 2rem) / 2);
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*============================|Classes|===========================*/

.classes-group,
.classes-addons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 2rem auto;
}
.classes-group ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}
.classes-group ul li {
  min-width: 300px;
  flex-basis: calc((100% - 2rem) / 5);
  background-color: var(--pink-color);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: justify;
  transition: all 0.3s ease-in-out;
}
.classes-group ul li:hover {
  filter: blur(5px);
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
}

.classes-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 2rem;
}
.img-container {
  flex-basis: calc((100% - 2rem) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 300px;
}
.img-container img {
  width: 100%;
  min-width: 300px;
  height: auto;
  border-radius: 25px;
  overflow: hidden;
}
.classes-description {
  flex-basis: calc((100% - 2rem) / 2);
  min-width: 300px;
}
.classes-addons ul {
  list-style: none;
}

.classes-addons ul li {
  display: flex;
  gap: 1rem;
}
/*============================|Cost|===========================*/
.cost {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.cost p {
  width: 60%;
  min-width: 300px;
}
.cost-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.cost-container li {
  min-width: 300px;
  flex-basis: calc((100% - 2rem) / 5);
  background-color: var(--pink-color);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.cost-container li:hover {
  filter: blur(5px);
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
}

/*============================|Contacts|===========================*/
.contacts-top {
  text-align: center;
  margin-bottom: 2rem;
}

.contacts-bottom {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contacts-map {
  flex-basis: calc((100% - 2rem) / 3);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1.5px solid var(--black-color);
  background-color: var(--white-color);
  border-radius: 10px;
  margin: 0 auto;
  filter: blur(5px);
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
}
.contacts-map iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.contacts-form {
  flex-basis: calc((100% - 2rem) / 2);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1.5px solid var(--black-color);
  background-color: var(--white-color);
  border-radius: 10px;
  margin: 0 auto;
  filter: blur(5px);
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.5));
}
.form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group {
  position: relative;
  width: 100%;
}
.group label {
  font-size: 1rem;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: var(--white-color);
  transition: all 0.3s ease;
}

.group input,
.group textarea {
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
  font-size: 1.2rem;
}

.group input:placeholder-shown + label,
.group textarea:placeholder-shown + label {
  top: 10px;
  background-color: transparent;
}
.group input:focus,
.group textarea:focus {
  border-color: var(--black-color);
}

.group input:focus + label,
.group textarea:focus + label {
  top: -10px;
  left: 10px;
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: 600;
  font-size: 1rem;
}
.group textarea {
  resize: none;
  height: 100px;
}
.form button {
  font-family: var(--subtitle-fonts);
  line-height: 1.6;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black-color);
  background-color: var(--pink-color);
  border: 1px solid var(--black-color);
  padding: 0.5rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.form button:hover {
  background-color: var(--red-color);
  color: var(--white-color);
  border: 1px solid var(--white-color);
}
/*============================|Footer|===========================*/
footer {
  background-color: var(--black-color);
  padding: 1rem 0;
}
.footer {
  max-width: 1440px;
  width: 100%;
  color: var(--white-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem 2rem;
  padding: 2rem;
  margin: 0 auto;
}
.footer-address,
.footer-social {
  flex-basis: calc((100% - 2rem) / 2);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer a,
.footer p {
  color: var(--white-color);
  text-align: left;
}
.footer-logo h2 {
  color: var(--pink-color);
  margin-bottom: 0.3rem;
}
.footer-logo h2 span {
  color: var(--red-color);
}
.footer-social h2 {
  margin-bottom: 0.3rem;
}
.footer-social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  margin: 0;
  padding: 0;
}
.footer-social ul li img {
  border-radius: 8px;
  width: 32px;
  height: 32px;
}
/*============================|Media Queries|===========================*/
@media only screen and (min-width: 768px) {
  section {
    padding: 1rem 0;
  }
  .container {
    width: 768px;
    padding: 0 32px;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  p,
  a {
    font-size: 1.1rem;
  }
  .classes-box {
    margin: 0;
  }
  .footer-social ul li img {
    width: 32px;
    height: 32px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }

  .footer-address,
  .footer-social {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-social ul li img {
    width: 36px;
    height: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  section {
    padding: 1.5rem 0;
  }
  .container {
    width: 1280px;
  }
  h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  p,
  a {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
  h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
/*============================|bloobz|===========================*/
.blob {
  border-radius: 94% 31% 30% 67% / 67% 37% 56% 34%;
  width: 250px;
  height: 250px;
  background: #f09;
  background-image: linear-gradient(45deg, #3023ae 0%, #f09 100%);
  box-shadow: -10vmin 10vmin 0 rgba(255, 255, 255, 0.07);
}

.animated-blob {
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  width: 250px;
  height: 250px;
  background: rgb(0, 255, 98);
  background-image: linear-gradient(45deg, #3023ae 0%, rgb(0, 255, 98) 100%);
  box-shadow: -10vmin 10vmin 0 rgba(255, 255, 255, 0.07);

  animation: animateBlob 10s linear infinite alternate;
}
.animated-blob-image {
  border-radius: 23% 31% 30% 67% / 72% 47% 40% 26%;

  min-width: 250px;
  height: auto;
  background: linear-gradient(#a03692, #b46ca8, #c0aec5);
  overflow: hidden;
  animation: animateImg 8s linear infinite;
}
@keyframes animateImg {
  0%,
  100% {
    border-radius: 69% 31% 30% 67% / 72% 47% 40% 26%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

@keyframes animateBlob {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}
